# OS / Editor
.DS_Store
Thumbs.db
Desktop.ini
.vscode/

# Node / tooling (au cas où)
node_modules/
dist/
build/
.parcel-cache/
.turbo/

# Logs
*.log


# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
